name: $(Date:yyyyMMdd)$(rev:.r)

variables:
- group: AZ00040_funapp-rag-TEST

trigger:
 batch: true
 branches:
   include:
     - develop
 paths:
   exclude:
     - devops/*

resources:
  repositories:
  - repository: CommonTemplates
    type: git
    endpoint: common-template-service-connection
    name: GestioneCicloDiVitaSw/CommonTemplatesYaml
    ref: 'refs/heads/develop'

stages: 
- template: build-stages/frontend/2.0/pyhton-build-stages-fe.yaml@CommonTemplates
  parameters:
    commonVariableGroup: AZ00040_funapp-rag-TEST
    linuxPoolName: linuxpoolcontainersvil
    zipArtifacts: true
    skipTestReport: true #da impostare a false quando il team mette a posto i TEST unitari
    installDependencies: true
    pythonVersion: "3.11"
    enableAdditionalCopy: true
    additionalSourceFolderToCopy: $(build.SourcesDirectory)
    additionalTargetFolder: $(build.artifactstagingdirectory)
    additionalFileContentToCopy: |
      **
      !**/.vscode/**
      !**/.git/**
      !**/.gitignore
      !**/.funcignore
      !**/.scannerwork/**
      !**/.sqAnalysis/**
      !**/SonarQubeBuildSummary.md
      !**/tests/**
      !**coverage
      !**/devops/**
      !**/venv/**
      !**/test_handler.sh
      !**/pytest.ini
      !**/requirements-test.txt
      !**/user_script.sh
    sonarScannerExtraProperties: |
        sonar.sources=$(System.DefaultWorkingDirectory)
        sonar.projectBaseDir=$(System.DefaultWorkingDirectory)/


- template: release-stages/azure/release-stages.yaml@CommonTemplates
  parameters:
    commonVariableGroup: AZ00040_funapp-rag-TEST
    winAgentName: AZUBUILDER-P01
    runtimeStack: 'PYTHON|3.11'
    deploymentMethod: 'runFromPackage'
    #appSettings: '-SCM_DO_BUILD_DURING_DEPLOYMENT true -ENABLE_ORYX_BUILD true'
    #appSettings: '-WEBSITE_RUN_FROM_PACKAGE 1'
    appServiceType: 'functionAppLinux' # possibili valori sono - 'webApp' 'webAppLinux' 'functionApp' 'functionAppLinux' 'functionAppContainer'