# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

aiodns==3.2.0
aiohttp==3.9.5
azure-functions==1.20.0
azure-ai-language-questionanswering==1.1.0
azure-ai-documentintelligence==1.0.0b3
azure-storage-blob==12.20.0
azure-monitor-opentelemetry==1.6.0
azure-monitor-events-extension==0.1.0
langchain-mistralai==0.1.10
langchain-openai==0.1.17
pydantic==2.8.2
pydantic-settings==2.3.4
tenacity==8.5.0